
/*-- Upvotes --*/

.votes {
	display: inline-block;
}

.votes i {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.votes span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

